@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply sm:text-[50%] lg:text-[62.5%] text-[62.5%];
  }

  body {
    font-family: "Open Sans";
    font-size: 2.5rem;
    background-color: black;
    position: relative;
  }

  main::-webkit-scrollbar {
    display: none;
  }
}

.nav-link-icon:hover path {
  @apply fill-purple-primary duration-75;
}

.cta:hover > svg > path {
  @apply fill-purple-primary duration-200;
}

.tools-grid {
  /* display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(3, min-content);
  grid-column-gap: 7rem;
  grid-row-gap: 5rem; */
  /* justify-content: center; */
}

.tools-grid > svg {
  @apply sm:w-[6rem] sm:h-[6rem] w-[4.5rem] h-[4.5rem];
}

.scrollbar::-webkit-scrollbar {
  width: 0.2rem;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-purple-primary rounded-full;
}
