@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Open Sans";
    font-size: 2.5rem;
    background-color: black;
  }

  main::-webkit-scrollbar {
    display: none;
  }

  section {
    @apply bg-black snap-center min-h-screen pt-[5rem] text-center;
  }

  h2 {
    @apply text-[4rem] text-purple-primary flex items-center gap-[1.2rem] justify-center;
  }
}

.nav-link-icon:hover path {
  @apply fill-purple-secondary duration-75;
}

.cta:hover > svg > path {
  @apply fill-purple-primary duration-200;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(3, min-content);
  grid-column-gap: 7rem;
  grid-row-gap: 5rem;
  justify-content: center;
}

.tools-grid > svg {
  width: 6rem;
  height: 6rem;
}
