@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply sm:text-[50%] lg:text-[62.5%] text-[62.5%];
  }

  body {
    font-family: "Open Sans", sans-serif;
    font-size: 2.5rem;
    background-color: black;
    position: relative;
  }

  main::-webkit-scrollbar {
    display: none;
  }
}

.nav-link-icon {
  @apply sm:w-[5rem] sm:h-[5rem] w-[3.5rem] h-[3.5rem];
}

.nav-link-icon:hover path {
  @apply fill-purple-primary duration-75;
}

.cta:hover > svg > path {
  @apply fill-purple-primary duration-200;
}

.tools-grid > svg {
  @apply sm:w-[6rem] sm:h-[6rem] w-[4.5rem] h-[4.5rem];
}

.scrollbar::-webkit-scrollbar {
  width: 0.2rem;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-purple-primary rounded-full;
}
